img {
  width: 400px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 24px;
}

.cats {
  float:left;
  margin-right: 20px;
}

#main_body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#cat_names {
  float: left;
  margin: 50px;
}

.cat_names_list {
  font-size: 24px;
  list-style: none;
  margin-top: 10px;
  cursor: pointer;
}


